@media screen and (min-width: 1024px) {
  .dateWrapper {
    height: calc(46rem / 20);
    width: calc(149rem / 20);
    padding: calc(5rem / 20) calc(10rem / 20);
    border: none;
    color: #727888;
    font-family: Inter;
    font-size: calc(12rem / 20);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.923px;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #efeff0;
    background: #fff;
  }
  .timeWrapper {
    display: inline-flex;
    padding: 0.3rem 0.7rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 19, 120, 0.15);
    background: #fff;
    color: #1d252d;
    font-family: Inter;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 4.55rem;
    height: 1.45rem;
  }
  .timeWrapper input{
    border: none;
    position: relative;
    width: 100%;
  }
  .timeDropdown {
    position: absolute;
    z-index: 10;
    overflow-y: scroll;
    width: 4.5rem;
    max-height: 6.5rem;
    margin-top: 0.4rem;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0.4rem 0;
    border: 1px solid #cccccc;
    border-radius: 6px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 1px 5px rgba(0, 74, 16, 0.15);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }
  .timeDropdown::-webkit-scrollbar { 
    display: none; 
  }
  .time {
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 0.2rem 0.8rem;
    color: var(--text-color, rgb(26, 26, 26));
    font-size: 14px;
    line-height: 1.1rem;
    text-align: left;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
  }

  .time:hover {
    background-color: rgba(26, 26, 26, 0.1);
  }
}
