.cpmponentWrapper{
    display: none;
}
.deviceMessage{
    composes : deviceReqMsg from '../../../styles/common.module.css'
}
@media screen and (min-width : 1024px){

    .wrapper{
        padding-bottom: 1.5rem;
    }
    .cpmponentWrapper{
        display: unset;
    }
    .deviceMessage{
        display: none;
    }
    
}