
@media screen and (min-width: 1024px) {
  .wrapper {
    padding-top: 2.65rem;
  }
  .wrapper body{
    background: #F6F8FB;
}
  .pageTitle {
    color: #1d252d;
    font-family: Inter;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .desc {
    color: #515050;
    font-family: Inter;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0.85rem;
  }

  .sessionDurationInfo {
    display: flex;
    flex-direction: row;
    color: #1a35c8;
    font-family: Inter;
    margin-top: 1.3rem;
    height: 1.95rem;
    align-items: center;
  }
  .label {
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 0.85rem;
  }

  .duration {
    background: #FFF;
    
    stroke-width: 1px;
    stroke: #efeff0;
    filter: drop-shadow(0px 3px 3px rgba(200, 202, 204, 0.1));
    width: 12.8rem;
    height: 1.95rem;
    flex-shrink: 0;
    border: 1px solid #EFEFF0;
    box-shadow: 0px 3px 3px 0px rgba(200, 202, 204, 0.10);
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
  }

}
