@media screen and (min-width: 1024px) {
    .mainWrapper{
        background-color: white;
        width: calc(740rem/20);
        margin-top: 1rem;
        padding: 1rem 2rem 1rem 1.8rem;
        border-radius: 6px;
        border: 1px solid #C8CACC;
        position: relative;
    }
    .mainWrapper h3{
        color: #1D252D;
        font-family: Inter;
        font-size: 0.7rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .statusWrapper{
        display: flex;
        gap:1.5rem;
        margin-top: 0.75rem;
    }
    .statusWrapper>p{
        color: #1D252D;
        font-family: Inter;
        font-size: 0.7rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .statusWrapper>p:nth-child(2){
        background-color: #FF5932;
        padding: 0.1rem 0.5rem;
        font-size: 0.4rem;
        text-transform: uppercase;
        color: white;
        border-radius: 5px;
        display: flex;
        align-items: center;
        font-weight: 500;
    }
    .distributedMarksWrapper{
        padding-top: 0.85rem;
    }
    .marksWrapper{
        display: flex;
        margin-top: 0.5rem;
    }
    .marksWrapper>p:nth-child(1){
        margin-right: 1.5rem;
    }
    .marksWrapper>p{
        color: #1D252D;
        font-family: Inter;
        font-size: 0.7rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .distributedMarksWrapper>p{
        color: #606574;
        font-size: 0.6rem;
        font-weight: 500;
    }
    .marksHead {
        color: var(--global-primary-color-three) !important;
        font-size: 0.7rem !important;
        font-weight: 600 !important;
        padding-bottom: 0.4rem;
    }
    .marksWrapper > input {
        width: calc(29rem/20);
        border: 0.75px solid #d2d2d2;;
        border-radius: 5px;
        padding: 0.2rem;
        margin-right: 0.3rem;
        height: 1rem;
    }
    .marksWrapper>input:focus{
        outline: none;
    }
    .marksDistrubution{
        padding : 0.75rem 0 ;
        width: calc(285rem/20);
    }
    .feedbackInput{
        width: 100%;
        resize: none;
        height: 5rem;
        outline: none;
        border: 1px solid rgb(220, 219, 219);
        border-radius: 10px;
        background: #F5FAFF;
        padding: 0.5rem;
    }
    .feedbackWrapper>p{
        color: #1D252D;
        font-family: Inter;
        font-size: 0.7rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 0.3rem;
        margin-top: 0.3rem;
    }
    .submitBtn {
        height: 2rem;
        width: 5.25rem;
        margin-top: calc(0.7rem);
        font-size: 0.7rem;
    }
    .disabledBtn {
        composes : submitBtn;
        background-color: rgb(200, 199, 199);
    }
    .errorMsg{
        color: var(--global-primary-color-one);
        font-size: 0.7rem;
        font-weight: 500;
        padding-top: 0.3rem;
    }
    .list{
        color: #1D252D;
        font-family: Inter;
        font-size: 0.7rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.05rem;
    }
    .marksCriteria{
        width: 33.5rem;
        flex-shrink: 0;
        margin-top: 0.5rem;
        border-radius: 0.5rem;
        background: #F5FAFF;
        padding: 0.75rem 0.6rem;
    }
    .marksCriteria>p:nth-child(1){
        margin-right: 1.5rem;
    }
    .marks > p{
        color: #1D252D;
        font-family: Inter;
        font-size: 0.7rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.05rem;
    }
    .marks{
        margin-top: 0.9rem;
        margin-bottom: 0.7rem;
        display: flex;
    }
    .marks > input {
        width: calc(29rem/20);
        border: 0.75px solid #d2d2d2;;
        border-radius: 5px;
        padding: 0.2rem;
        margin-right: 0.3rem;
        height: 1rem;
    }
    .marks>input:focus{
        outline: none;
    }
    .marksCriteria > p{
        color: #1D252D;
        font-family: Inter;
        font-size: 0.7rem;
        font-style: normal;
        font-weight: 500;
        line-height: 0.95rem;
        margin-bottom: 0.75rem;
    }
    .defaultInput{
        width: calc(31rem/20) !important;
    }

    .disabledBtn{
        background-color: rgba(128, 128, 128, 0.719);
    }
    .rejectedRemarks{
        color: #1D252D;
        font-family: Inter;
        font-size: 0.7rem;
        font-style: normal;
        font-weight: 300;
        line-height: 0.9rem;
        margin-top: 0.6rem;
        border-radius: 0.5rem;
        background: #F5FAFF;
        min-height: 4rem;
        padding: 0.7rem;
        word-spacing: 2.5px;
    }
    .rejectedRemarksPrefix{
        font-weight: 400;
    }
    .alertImg{
        width: calc(18rem/20);
        height: calc(18rem/20);
        position: relative;
        display: block;
    }
    .instructions {
        font-family: Inter;
        font-size: calc(12rem/20);
        line-height: 20px;
        color: #3F72FA;
        text-decoration: underline;
        cursor: pointer;
    }
    .instrucWrapper{
        display :flex;   
        gap: 0.3rem;
    }
}