@media screen and (min-width: 1024px) {
    .headingSkeleton{
        margin-right: 7.4rem;
        width: 48rem;
        margin-bottom: 0.2rem;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }
    .tableSkeleton{
        margin-right: 7.4rem;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        margin-bottom: 1rem;
    }
    .skelWrapper{
        height: calc(100vh - 3.5rem);
        padding-top: 1.25rem;
    }
}