

@media screen and (min-width: 1024px) {
    .wrapper {
        display: block;
    }
    .tableHead{
        display: grid;
        grid-template-columns: 1fr 25%;
        align-items: center;
        height: 1.5rem;
        border-radius: 5px;
        background: #E7F1FC;
        color: #606574;
        font-size: 0.55rem;
        font-weight: 500;
        padding-left: 0.6rem;
        padding-right: 1.2rem;
        margin-bottom: 0.2rem;
        text-transform: uppercase;
        padding-right: 0.2rem;
    }
    .tableRow{
        composes : tableHead;
        border: 1px solid rgba(231, 231, 231, 0.60);
        background: #F5F9FD;
        text-transform: unset;
        font-size: 0.6rem;
        color: #727888;
    }
    .markInput {
        width: calc(27rem/20);
        border-radius: 5px;
        padding: 0.2rem;
        height: calc(22rem/20);
        color: #606574 !important;
        font-size: 0.55rem !important;
        font-weight: 500 !important;
        border-radius: 5px;
        border: 0.75px solid #D9D9D9;
        background: #FFF;
        box-shadow: 0px 1px 4px 0px rgba(190, 190, 190, 0.25);
        text-align: center;
    }
    .markInput:focus {
        outline: none;
    }
    .markInput::placeholder{
        color: #6A6A6A;
    }
}